.recipe-detail {
  font-family: Arial, sans-serif;
  color: #333;
  max-width: 700px; /* Ancho máximo mayor para pantallas grandes */
  margin: auto;
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

/* Título */
h1 {
  font-size: 28px; /* Tamaño mayor para pantallas grandes */
  color: #333;
  margin-bottom: 5px;
  text-align: center;
}

/* Información de la receta */
.recipe-info {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
}

.recipe-info span {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
  font-size: 14px;
}

.recipe-image {
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center;     /* Centra la imagen verticalmente si es necesario */
}

.recipe-image img {
  width: 50%;
  border-radius: 15px;
  margin-bottom: 20px;
  object-fit: cover;
}

/* Secciones de ingredientes y preparación */
.recipe-section {
  margin-bottom: 20px;
}

.recipe-section h2 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.recipe-section ul {
  padding-left: 20px;
  margin: 0;
  list-style-type: disc;
  font-size: 16px;
}

.recipe-section p {
  font-size: 16px;
  line-height: 1.8;
  color: #555;
}

/* Botón de Guardar Receta */
.save-button {
  background-color: #333;
  color: #fff;
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  margin: 30px auto 0;
  display: block;
  transition: background-color 0.3s ease;
  text-align: center;
}

.save-button:hover {
  background-color: #555;
}

/* Responsivo: Estilos específicos para pantallas grandes */
@media (min-width: 768px) {
  .recipe-detail {
    padding: 30px;
  }

  h1 {
    font-size: 32px;
  }

  .recipe-info {
    font-size: 18px;
  }

  .recipe-section h2 {
    font-size: 24px;
  }

  .recipe-section ul, .recipe-section p {
    font-size: 18px;
  }

  .save-button {
    font-size: 20px;
  }
}
