<div class="header-container">
  <img src="assets/images/icons/arrow.png" alt="Back" class="icon back-arrow" (click)="goBack()" />
  <span class="title">Ejercicios</span>

  <div class="search-bar">
    <input type="text" placeholder="Buscar ejercicio" (input)="searchExercise($event)" />
    <img src="assets/images/icons/search.png" alt="Search" class="icon search-icon" />
  </div>

  <img src="assets/images/icons/User.png" alt="Profile" class="icon profile-icon" routerLink="/user/profile" />
  <img src="assets/images/icons/home.png" alt="Home" class="icon home-icon" routerLink="/home" />
</div>
