<section class="login-container">
  <div class="login-card">
    <div class="login-image">
      <div class="image-overlay-text">
        <h2>Bienvenido a</h2>

        <img src="assets/images/home/logo.png" alt="Imagen de inicio de sesión">
        <p>Inicia sesión para continuar</p>
      </div>
    </div>

    <div class="login-form">
      <h2>Iniciar Sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <label for="email">Usuario o Correo Electrónico</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            placeholder="Ingrese su correo electrónico"
          />
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
            <span *ngIf="email.errors?.['required']">Este campo es obligatorio</span>
            <span *ngIf="email.errors?.['email']">Introduzca un correo electrónico válido</span>
          </div>
        </div>

        <div class="form-field">
          <label for="password">Contraseña</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="Ingrese su contraseña"
          />
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
            <span *ngIf="password.errors?.['required']">Este campo es obligatorio</span>
          </div>
        </div>

        <button type="submit" class="submit-button" [disabled]="loginForm.invalid">Iniciar Sesión</button>
      </form>
      <div class="forgot-password">
        <a routerLink="/auth/reset-password">¿Olvidaste tu contraseña?</a>
      </div>
      <p>¿No tienes cuenta? <a routerLink="/auth/register">Regístrate aquí</a></p>
    </div>
  </div>
</section>
