<div>
    <router-outlet />
 </div>
 
 
 <div class="PonerCuenta">
 
     Log in
  
 </div>
 
 <div class ="Bienvenida">
 
    Bienvenido
 
 
 </div>
 
 <div class ="Fondo2">
 
  <div class = "Usuario">
 
     Usuario o email
  </div>
  <div class = "cajatext">
    <input type="text" required>
 
  </div>
 </div>
 
 <div class = "Fondo3">
  <div class = "Contraseña1">
 
    Contraseña
  </div>
 
  <div class = "cajatext2">
    <input type="password" required>
 
  </div>
 </div>
 
 
 <div class ="Fondo4">
 <button class = "Boton">
  <a routerLink = "auth/reset_password">Contraseña olvidada</a>
 
 
 </button>
 </div>
 
 <button class = "Entrar">
 
   Log In
 
 </button>
 