<div class ="Titulo">
    Crear Cuenta
    </div>
    
    <div class ="Titulo2">
        Empezemos
    </div>
    
    
    <div class ="Cuadro">
    
    
        <div class = "Nombre">
    
         Nombre Completo
        </div>
        <div class="cajatexto">
            <input type="text" required>
        
          </div>
    </div>
    
    
    <div class = "Cuadro2">
        <div class = "Email">
        Email a Numero de Teléfono
        </div>
        <div class="cajatexto2">
            <input type="text" required>
        
          </div>
    
    </div>
    
    <div class = "Cuadro3">
        
    
        <div class ="Contraseña">
         Contraseña
    
        </div>
       <div class="cajatexto3">
        <input type="password" required>
    
       </div>
    </div>
    
    
    <div class = "Cuadro4">
    
        <div class = "Confirmar">
         Confirmar Contraseña
        </div>
        
        <div class="cajatexto4">
            <input type="password" required>
        
        </div>
    </div>
    
    <button class = "Entrar">
    
        Register
      
      </button>
    