<app-exercise-header></app-exercise-header>

<h2>Plan De Desayuno Para Ti</h2>
<section class="meal-plan">
  <div class="meal-option" *ngFor="let meal of meals; let i = index">
    <label class="meal-radio">
      <input type="radio" name="meal" [value]="meal" [checked]="selectedMeal === meal" (change)="selectMeal(meal)">
      <span class="radio-mark"></span>
    </label>

    <div class="meal-content">
      <div class="meal-info">
        <h3>{{ meal.title }}</h3>
        <p>{{ meal.time }} | {{ meal.calories }} Cal</p>
      </div>
      <img [src]="meal.image" alt="{{ meal.title }}" class="meal-image">
    </div>
  </div>
</section>
<button class="recipe-button" (click)="viewRecipe()">Ver Receta</button>
