.preferenceFlex-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.preference-container{
  max-width: 18rem;
}
.my-button{
  position: absolute;
  margin: auto;
  left: 1120px;
}
