.meal-preferences {
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.custom-radio,
.custom-checkbox {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #6A4C93;
  cursor: pointer;
}

.custom-radio input[type="radio"],
.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-radio .checkmark,
.custom-checkbox .checkmark {
  width: 18px;
  height: 18px;
  border: 2px solid #6A4C93;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  display: inline-block;
}

.custom-checkbox .checkmark {
  border-radius: 5%;
}

.custom-radio input[type="radio"]:checked + .checkmark::before,
.custom-checkbox input[type="checkbox"]:checked + .checkmark::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #6A4C93;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::before {
  border-radius: 3px;
}
.next-button {
  background-color: #6A4C93;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  margin: 20px auto 0;
  display: block;
}

.next-button:hover {
  background-color: #4a3571;
}
