<app-header label="◀ Suscripciones" text="user/basic/subscribe"></app-header>

<div class="container">
  <div class="col-md-6 offset-md-3">
    <span class="anchor" id="formPayment"></span>
    <hr class="my-5">

    <div class="card card-outline-secondary">
        <div class="card-body">
            <div class="logo">
                <img src="assets/images/home/logo.png" alt="LOGO" />
            </div>

            <h3 class="text-center">Información de pago</h3>
            <hr>
            <form class="form" role="form" autocomplete="off">
                <div class="form-group">
                    <label for="cc_name">Nombre del Titular</label>
                    <input type="text" class="form-control" id="cc_name" pattern="\w+ \w+.*" title="First and last name" required="required">
                </div>
                <div class="form-group">
                    <label>Número de Tarjeta</label>
                    <input type="text" class="form-control" autocomplete="off" maxlength="20" pattern="\d{16}" title="Credit card number" required="required">
                </div>
                <div class="form-group row">
                    <label class="col-md-12">Caducidad</label>
                    <div class="col-md-4">
                        <select class="form-control" name="cc_exp_mo" size="0">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" name="cc_exp_yr" size="0">
                            <option>2025</option>
                            <option>2026</option>
                            <option>2027</option>
                            <option>2028</option>
                            <option>2029</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" autocomplete="off" maxlength="3" pattern="\d{3}" title="Three digits at back of your card" required="" placeholder="CVV">
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-12">Monto</label>
                </div>
                <div class="form-inline">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">S/</span>
                        </div>
                        <p type="text" class="form-control text-right" id="exampleInputAmount">{{monto}}.00</p>

                    </div>
                </div>
                <hr>
                <div class="form-group row button-group">
                    <div class="col-md-6">
                        <button type="reset" class="btn btn-default btn-lg btn-block bt1 ">
                          <a href="user/basic/subscribe">Cancelar</a>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success btn-lg btn-block bt2">
                          <a href="user/basic/success-payment">Pagar</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>



</div>
