.logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.logo img {
  width: 300px;
  height: auto;
}

.button-group {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.btn {
  border-radius: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}


.bt1 a {
  color: black;
  padding-left: 70px;
  padding-right: 70px;
  text-decoration: none;
}

.bt2 a {
  color: white;
  padding-left: 70px;
  padding-right: 70px;
  text-decoration: none;
}
