<section class="reset-container">
  <div class="reset-card">
    <div class="reset-image">
      <div class="image-overlay-text">


        <img src="assets/images/home/logo.png" alt="Imagen de inicio de sesión">
        <p>!Bienvenido de nuevo!</p>
      </div>
    </div>

    <div class="reset-form">
      <h3>Cambiar contraseña</h3>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <label for="email">Usuario o Correo Electrónico</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            placeholder="Ingrese su correo electrónico"
          />
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
            <span *ngIf="email.errors?.['required']">Este campo es obligatorio</span>
            <span *ngIf="email.errors?.['email']">Introduzca un correo electrónico válido</span>
          </div>
        </div>

        <div class="form-field">
          <label for="newPassword">Nueva Contraseña</label>
          <input
            type="password"
            id="newPassword"
            formControlName="newPassword"
            placeholder="Ingrese su contraseña"
          />
          <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="error-message">
            <span *ngIf="newPassword.errors?.['required']">Este campo es obligatorio</span>
          </div>
        </div>

        <div class="form-field">
          <label for="confirmPassword">Confirmar contraseña</label>
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="Confirme su contraseña"
          />
          <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="error-message">
            <span *ngIf="confirmPassword.errors?.['required']">Este campo es obligatorio</span>
          </div>
        </div>

        <button type="submit" class="submit-button" >Cambiar Contraseña</button>
        <button class="cancel-button" (click)="cancel()">Cancelar</button>
      </form>


    </div>
  </div>
</section>
