.difficulty-buttons {
  display: flex;
  justify-content: space-around;
  background-color: #896CFE;
  padding-bottom: 15px;
}

.difficulty-buttons button {
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.difficulty-buttons button.active {
  background-color: #D9FF6E;
  color: #333;
}

.difficulty-buttons button:hover {
  background-color: #555;
}


h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 15px;
  font-weight: bold;
}

h3 {
  text-align: left;
  font-size: 1.5rem;
  margin-top: 15px;
  padding-left: 200px;
}

.exercise-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 0 10px;
  margin-top: 20px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  align-items: start; /* Ensures cards align to the top in each row */
}

.crear-button-container {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 50px;
}

.crear-rutina-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.crear-rutina-button:hover {
  background-color: grey;
}

.button-link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .exercise-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .exercise-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
