<app-exercise-header (search)="filterExercises($event)"></app-exercise-header>

<div class="difficulty-buttons">
  <button *ngFor="let level of levels" (click)="setLevel(level)" [ngClass]="{ active: selectedLevel === level }">
    {{ level }}
  </button>
</div>

<h2>CREA TU RUTINA</h2>
<!-- Display selected exercises -->
<h3>Ejercicios Seleccionados</h3>
<div class="exercise-list">
  <app-exercise-card
    *ngFor="let exercise of selectedExercises"
    [exercise]="exercise"
    (click)="toggleSelection(exercise)">
  </app-exercise-card>
</div>

<h3>Explora Diferentes Estilos De Entrenamiento</h3>
<!-- Display unselected exercises -->
<div class="exercise-list">
  <app-exercise-card
    *ngFor="let exercise of filteredExercises"
    [exercise]="exercise"
    (click)="toggleSelection(exercise)">
  </app-exercise-card>
</div>

<h3 *ngIf="!filteredExercises.length">No hay ejercicios con ese nombre.</h3>

<div class="crear-button-container">
  <button class="crear-rutina-button" (click)="saveAndNavigate()">Crear Rutina</button>
</div>

<app-footer></app-footer>
