<div class="footer">
  <img src="assets/images/Footer/logo.png" alt="Logo FitTrack">
  <div class="footer_contacto">
      <p><strong>CONTACTO:</strong>
      <p>+51 999 888 321</p>
      <p>FitTrack&#64;fit.com</p>
  </div>
  <div class="footer_redes">
    <p><strong>© 2024 FITtrack. Todos los derechos reservados</strong></p>
    <p>
      Siguenos en
      <img class="icon" src="assets/images/Footer/facebook.png" alt="Facebook">
      <img class="icon" src="assets/images/Footer/instagram.png" alt="Instagram">
      <img class="icon" src="assets/images/Footer/twitter.png" alt="Twitter">
    </p>
  </div>
</div>
