.exercise-card-big-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.exercise-card-big {
  width: 100%;
  max-width: 600px; /* Sets a maximum width for the card */
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #333;
}

.exercise-card-big:hover {
  transform: scale(1.05);
  border-color: #D9FF6E;
}

.featured-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.featured-label {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #D9FF6E;
  color: #333;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 14px;
}

.bottom-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bottom-overlay h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.info {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.info p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  width: 16px;
  height: 16px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .exercise-card-big {
    max-width: 90%; /* Makes card fill more space on smaller screens */
  }
}
