.container-home {
    background-image: url('../../assets/images/home/background.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo {
    margin: 40px;
}

.description {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.button-link {
    text-decoration: none;
    color: inherit;
}

.btn-primary {
    margin: 10px;
    padding: 10px 60px;
    border-radius: 20px;
    border: none;
    background-color: #f8f9fa;
    color: #343a40;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #343a40;
    color: white;
}


/*media queries*/
@media (max-width: 768px) {
    .container-home {
        background-size: cover; /* La imagen se adapta al contenedor */
        background-position: center top; /* Centra la imagen desde la parte superior */
    }

    .logo {
        width: 50%;
    }

    .description {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .home-buttons {
        flex-direction: column;
        margin-top: 15px;
    }

    .btn-primary {
        padding: 10px 40px;
        font-size: 15px;
    }
}

/* Ajustes para pantallas pequeñas (hasta 480px de ancho) */
@media (max-width: 480px) {
    .container-home {
        background-size: cover; /* Asegura que la imagen ocupe el fondo sin salir del contenedor */
        background-position: center; /* Centra la imagen */
    }

    .logo {
        width: 50%;
    }

    .description {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .home-buttons {
        flex-direction: column;
        margin-top: 10px;
    }

    .btn-primary {
        padding: 8px 30px;
        font-size: 14px;
        width: 100%;
    }
}
